:root {}
html{
    font-size: 62.5%;
}
@font-face{
    font-family: 'Fuente_Halloween';
    src: url(/fonts/Halloween\ Night.otf) format(truetype);
}
body{
    background-color: rgb(26, 26, 26);
    font-family: Fuente_Halloween;
    font-size: 2.5rem;

}

.original-mode {
    background-color: #ffffff;
    color: #000000;
}

.jason-mode {
    background-color: #333333;
    color: #ffffff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Estilos opcionales para el aspecto visual */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap:2rem;
    background-color: rgb(14, 14, 14);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    align-items: center
}
.menu{
    min-width: 200px;
}
a{
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.peliculas{
    box-sizing: border-box;
    width: 57%;
    height: 50%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.peliculas img{
    width: 30%;
    height: 30%;
    gap: 2rem;
}
.carrusel{
    display: flex;
    justify-content: center;
    align-items: center
}

#logo{
    width: 35%;
    height: 60%;
    padding: 5px;
    padding-top: 3%;
    padding-left: 2%;
}

#text{
    display: flex;
    justify-content: center;
    padding-top: 2%; 
    padding-bottom: 1%; 
}

#texto{
    box-sizing: border-box;
    width: 55%;
    height: 20%;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.cuadrado{
    box-sizing: border-box;
    width: 15%;
    height: 15%;
    margin-right: 10%;
    visibility: hidden;
}

.cuadrado img{
    width: 40%;
    height: 40%;
}

.cuadrado.moviendo{
    animation: moviendo 5s ease-in-out infinite;
    animation-timing-function: linear;
  }

  @keyframes moviendo {
    0%{
      transform: translateX(-1200px) scaleX(1);

    } 100%{
        transform: translateX(800px) scaleX(1);
    }

  }

  /*@keyframes moviendo {
    0%{
      transform: translateX(0) scaleX(1);

    }50% {
        transform: translateX(100px) scaleX(1);

    } 51%{
        transform: translateX(100px) scaleX(-1);

    } 100%{
        transform: translateX(0) scaleX(-1);
    }

  }*/

